<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DertGG · Phoenix Framework</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </head>
  <body>
    <header>
      <nav role="navigation" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a href="/" class="navbar-brand">Dert GG</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <%= active_link(@conn, "Top 10", to: Routes.live_path(@conn, DertGGWeb.DertsLive), class: "nav-link", wrap_tag: :li) %>
            </ul>

            <ul class="navbar-nav mr-auto">
              <%= if @conn.assigns[:current_account] do %>
                <%= active_link(@conn, "Çıkış yap", to: Routes.session_path(@conn, :delete), method: :delete, class: "nav-link", wrap_tag: :li) %>
              <% else %>
                <%= active_link(@conn, "Üye ol", to: Routes.registration_path(@conn, :new), class: "nav-link", wrap_tag: :li) %>
                <%= active_link(@conn, "Giriş yap", to: Routes.session_path(@conn, :new), class: "nav-link", wrap_tag: :li) %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
